<div class="mainContent-innner">
    <div class="Keypads-section">
    <div class="d-flex align-items-center">
        <h4 class="title flex-grow-1 mb-0">Keypads</h4>
        <div class="probtn-wrap d-flex text-right">
            <button type="button" class="btn mr-2"> Show Invisible Buttons</button>
            <button type="button" class="btn btn-blue mr-2">Ok</button>
            <button type="button" class="btn"> Cancel</button>
        </div>
    </div>
    <!-- /.action-topbar -->
    <div class="Keypads-wrap">                        
        <div class="bg-box mt-15">
            <div class="form-row">
                <div class="col-12">
                    <div class="text-right">
                        <h5 class="title mb-0">FORTITUDE VALLEY BRUNSWICK KEYPAD</h5>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-7">
                    <div class="group-from mb-0">
                        <div class="list-btns justify-content-start">
                            <div class="list-box">
                                <button type="button" style="background-color: #e54b49;" class="btn-list">drinks a & cold Ambient</button>
                            </div>
                            <div class="list-box list-box-2">
                                <button type="button" style="background-color: #f0f01e;" class="btn-list">Price Level 2</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #bcffb4;" class="btn-list">n/owl single bag ssbi 2505 $0.00</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #f0f01e;" class="btn-list">Price Level 2</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #92aefe;" class="btn-list">Manager Menu</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #e54b49;" class="btn-list">drinks a & cold Ambient</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #bcffb4;" class="btn-list">n/owl single bag ssbi 2505 $0.00</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #f0f01e;" class="btn-list">Price Level 2</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #92aefe;" class="btn-list">Manager Menu</button>
                            </div> 
                            <div class="list-box">
                                <button type="button" style="background-color: #e54b49;" class="btn-list">drinks a & cold Ambient</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #bcffb4;" class="btn-list">n/owl single bag ssbi 2505 $0.00</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #f0f01e;" class="btn-list">Price Level 2</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #92aefe;" class="btn-list">Manager Menu</button>
                            </div> 
                            <div class="list-box list-box-2">
                                <button type="button" style="background-color: #e54b49;" class="btn-list">drinks a & cold Ambient</button>
                            </div>
                            <div class="list-box ">
                                <button type="button" style="background-color: #bcffb4;" class="btn-list">n/owl single bag ssbi 2505 $0.00</button>
                            </div>
                            <div class="list-box list-box-2">
                                <button type="button" style="background-color: #f0f01e;" class="btn-list">Price Level 2</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #92aefe;" class="btn-list">Manager Menu</button>
                            </div>
                            <div class="list-box list-box-2">
                                <button type="button" style="background-color: #e54b49;" class="btn-list">drinks a & cold Ambient</button>
                            </div>
                            <div class="list-box list-box-2">
                                <button type="button" style="background-color: #bcffb4;" class="btn-list">n/owl single bag ssbi 2505 $0.00</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #f0f01e;" class="btn-list">Price Level 2</button>
                            </div>
                            <div class="list-box list-box-2">
                                <button type="button" style="background-color: #92aefe;" class="btn-list">Manager Menu</button>
                            </div> 
                            <div class="list-box">
                                <button type="button" style="background-color: #e54b49;" class="btn-list">drinks a & cold Ambient</button>
                            </div>
                            <div class="list-box list-box-1">
                                <button type="button" style="background-color: #bcffb4;" class="btn-list">n/owl single bag ssbi 2505 $0.00</button>
                            </div>
                            <div class="list-box">
                                <button type="button" style="background-color: #f0f01e;" class="btn-list">Price Level 2</button>
                            </div>
                            <div class="list-box list-box-3">
                                <button type="button" style="background-color: #92aefe;" class="btn-list">Manager Menu</button>
                            </div>                                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-5">
                    <div class="group-from">
                        <h5 class="title">Button</h5>
                        <div class="form-group form-row align-items-center">
                            <label class="label col-md-3 mb-0">Button Type</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>Level</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row align-items-center">
                            <label class="label col-md-3 mb-0">Button Type</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>Level 26</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row align-items-center">
                            <label class="label col-md-3 mb-0">Caption</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" value="DRINKS A&COLD AMBIENT">
                            </div>
                        </div>
                        <div class="form-group form-row align-items-center">
                            <label class="label col-md-3 mb-0">Colour</label>
                            <div class="col-md-9">
                                <input type="color" style="padding: 0 3px;" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row align-items-center">
                            <label class="label col-md-3 mb-0">Size</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>NORMAL SIZE</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row align-items-center">
                            <label class="label col-md-3 mb-0">Cashier</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>Level 1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row align-items-center">
                            <label class="label col-md-3 mb-0">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-from mb-0">
                        <h5 class="title">Level</h5>
                        <div class="">
                            <input type="text" class="form-control" value="MAIN MENU START">
                        </div>
                        <ul class="LevelList">
                            <li>
                                <input type="radio" id="Level" name="Level" checked>
                                <label for="Level">MAIN MENU START</label>
                            </li>
                            <li>
                                <input type="radio" id="Level1" name="Level">
                                <label for="Level1">Epay Products</label>
                            </li>
                            <li>
                                <input type="radio" id="Level2" name="Level">
                                <label for="Level2">TAKEAWAY MENU</label>
                            </li>
                            <li>
                                <input type="radio" id="Level3" name="Level">
                                <label for="Level3">NEWSPAPERS/MAGAZINES</label>
                            </li>
                            <li>
                                <input type="radio" id="Level4" name="Level">
                                <label for="Level4">MANAGER MENU</label>
                            </li>
                            <li>
                                <input type="radio" id="Level5" name="Level">
                                <label for="Level5">GROCERY</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.pricingApnSearch-wrap -->
    </div>
    <!-- /.pricingApnSearch-section -->
</div>