<div id="wrapper">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" >
       <div class="login-content-layout resetPassword-page">
          <div class="login-card">
            <div class="form-container">
               <div class="form-width">             
                  <div class="form-group text-center">                  
                     <h2>Change Your password</h2>
                     <p><span>Enter Your New Password</span></p>
                  </div>
                  <div class="form-group log-form thm-group">
                     <label>Current Password <span class="text-danger">*</span></label>
                     <input [type]="isShowCurrentPassword ? 'text' : 'password'" formControlName="tempPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tempPassword.errors }"  />
                     <span class="input-icon" (click)="showChangePassword('current')"><i [ngClass]="isShowCurrentPassword ?  'fa fa-eye-slash' : 'fa fa-eye' " ></i>
                     </span>
                     <div *ngIf="submitted && f.tempPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.tempPassword.errors.required">Current password is Required!</div>
                        <div *ngIf="f.tempPassword.errors?.minlength">Current password must be at least 8 characters</div>
                           <div *ngIf="f.tempPassword.errors?.invalidPassword"> Current password must have at leat 1 upper case charater, 1 lower case charater, 1 special character, 1 number.</div>
                     </div>
                  </div>
                  <div class="form-group log-form thm-group">
                     <label>New Password <span class="text-danger">*</span></label>
                     <input [type]="isShowNewPassword ? 'text' : 'password'" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                     <span class="input-icon" (click)="showChangePassword('new')"><i [ngClass]="isShowNewPassword ?  'fa fa-eye-slash' : 'fa fa-eye' " ></i>
                     </span>
                     <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">New Password is Required!</div>
                        <div *ngIf="f.newPassword.errors?.minlength">New Password must be at least 8 characters</div>
                           <div *ngIf="f.newPassword.errors?.invalidPassword"> New Password must have at leat 1 upper case charater, 1 lower case charater, 1 special character, 1 number.</div>
                     </div>
                  </div>
                  <div class="form-group log-form thm-group">
                     <label>Confirm Password <span class="text-danger">*</span></label>
                     <input [type]="isShowConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                     <span class="input-icon" (click)="showChangePassword('confirm')"><i [ngClass]="isShowConfirmPassword ?  'fa fa-eye-slash' : 'fa fa-eye' " ></i>
                     </span>
                     <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is Required!</div>
                        <div *ngIf="f.confirmPassword.errors?.minlength">Password must be at least 8 characters</div>
                           <div *ngIf="f.confirmPassword.errors?.invalidPassword"> Confirm must have at leat 1 upper case charater, 1 lower case charater, 1 special character, 1 number.</div>
                     </div>
                  </div>
                  <div class="btn-wrap form-group mt-4">
                     <button class="btn btn-block thm-btn">Change Password</button>   
                  </div>
                  <div class="return-txt mt-2">
                     <!-- <h6><a routerLink="/dashboard">Change Later</a></h6> -->
                  </div>
               </div>
            </div>
            <div class="content-container">
               <div class="content-txt">
                     <div class="logo-txt mb-3">
                        <a target="_blank" href="http://www.coyotesoftware.com.au/">
                           <img src="assets/images/logo.png" alt="Logo">
                        </a>
                     </div>
                     <h2><a  target="_blank" href="http://www.coyotesoftware.com.au/"><u>www.coyotesoftware.com.au</u></a>
                        <!-- Well Crafted,<br/>Coded with attention,<br/> Build with passion. -->
                     </h2>
                     <!-- <p> Treo helps developers to build organized and well-coded admin dashboards full of beautiful and feature rich modules.
                     </p> -->
               </div>
            </div>
          </div>
       </div>
    </form>
 </div>
       