.blue-text {
  color: blue !important;
}

// / Chrome, Safari, Edge, Opera /
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// / Firefox /
input[type="number"] {
  -moz-appearance: textfield;
}

table#masterListTable{
  width: 100% !important;
}
#AddModal .modal-content{
  border:none;
}
// .column_id i.fa.fa-filter {
//   color: #999;
// }