.mainContent-innner .tie-up label{
    margin-right: 20px;
}


.mainContent-innner .refresh-btn {
    padding: 3px 15px !important;
    background-color: #fff;
    border:  1px solid #ced4da;
    border-radius: 4px;
    margin: 10px 20px 0;
   
   
}
.mainContent-innner .refresh-btn:hover{
    background-color: #e2ebff;
}
.mainContent-innner{
 padding: 0;
}
.promotional-tie-up-tab ul li a{
    padding: 15px 25px 10px;

}
.promotional-tie-up-tab ul{
    margin-bottom: 15px;
    justify-content: center;
}
.co-filed-radio {
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
    margin-right: 90px;
    margin-bottom: 10px;
}
.co-product-id p {
    margin-bottom: 10px;
    margin-top: 20px;
}
.mainContent-innner .thead {
    background: #e2ebff;
}
.mainContent-innner .table thead th {
    border-bottom: 0px;
    font-weight: 600;
}
.custom-control-label::before {
    border: #ced4da solid 1px !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12) !important;
}