<div class="modal fade thm-popup" id="promotional-tie-up" tabindex="-1" ole="dialog"
    aria-labelledby="Select_OutletModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body popup-box-width">
                <div class="popup-box">
                    <div class="mainContent-innner">
                        <div class="tie-up">
                            <h4 class="title flex-grow-1 pb-3">Promotional-Tie-up</h4>
                            <div class="row justify-content-between">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="outlet">Outlet</label>
                                        <select name="" id="outlet" class="form-control mr-2">
                                            <option>Outlet</option>
                                            <option>Outlet1</option>
                                            <option>Outlet2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="">Reporting Period</label>
                                        <select name="" id="" class="form-control">
                                            <option>Period</option>
                                            <option>Period1</option>
                                            <option>Period2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-box mt-15 mt-4">
                            <div class="apn-navTab select-automactic-orders promotional-tie-up-tab">
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="Teid-Up-tab" data-toggle="pill"
                                            href="#Teid-Up-Detail" role="tab" aria-controls="Teid-Up"
                                            aria-selected="true">Tied-Up</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Promo-Headers-tab" data-toggle="pill"
                                            href="#Promo-Headers-Products" role="tab" aria-controls="Promo-Headers"
                                            aria-selected="false">Promo Headers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Periods-tab" data-toggle="pill" href="#Periods-Detail"
                                            role="tab" aria-controls="Periods" aria-selected="false">Periods</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Involments-tab" data-toggle="pill"
                                            href="#Involments-Detail" role="tab" aria-controls="pills-Products"
                                            aria-selected="false">Involvment</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="nav-link refresh-btn btn-grey">Refresh</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="Teid-Up-tab-conten">
                                    <div class="tab-pane fade show active" id="Teid-Up-Detail" role="tabpanel"
                                        aria-labelledby="Teid-Up-tab">
                                        <div class="co-filed-radio">
                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="custom-control form-check-inline custom-radio">
                                                <input class="custom-control-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio1" value="option1" checked>
                                                <label class="form-check-label custom-control-label" for="inlineRadio1"><span class="d-block">Period</span></label>
                                            </div>
                                            <div class="custom-control form-check-inline custom-radio">
                                                <input class="custom-control-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label custom-control-label" for="inlineRadio2"><span class="d-block">Promo(ID)</span></label>
                                            </div>
                                        </div>
                                        <table class="table">
                                            <thead class="thead">
                                                <tr>
                                                    <th>Period</th>
                                                    <th>Outlet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>111</td>
                                                    <td>222</td>
                                                </tr>
                                                <tr>
                                                    <td>333</td>
                                                    <td>4444</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="Promo-Headers-Products" role="tabpanel"
                                        aria-labelledby="Promo-Headers-tab">
                                        <div class="co-product-id">
                                            <p>Select period for which to view products.</p>
                                            <table class="table">
                                                <thead class="thead">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Poducts</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>111</td>
                                                        <td>222</td>
                                                    </tr>
                                                    <tr>
                                                        <td>333</td>
                                                        <td>4444</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Periods-Detail" role="tabpanel"
                                        aria-labelledby="Periods-tab">
                                        <div class="co-periods-detail">
                                            <div class="col-md-3 mx-auto co-report-period">
                                                <div class="form-group mb-3">
                                                    <select name="" id="" class="form-control">
                                                        <option>Demo1</option>
                                                        <option>Demo2</option>
                                                        <option>Demo3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <table class="table">
                                                <thead class="thead">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Heading</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>IMPULSE PERIOD 01</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>IMPULSE PERIOD 02</td>
                                                    <td>2014-02-17</td>
                                                    <td>2014-02-16</td>
                                                </tr>

                                                <tr>
                                                    <td>3</td>
                                                    <td>IMPULSE PERIOD 03</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>IMPULSE PERIOD 04</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>IMPULSE PERIOD 05</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>IMPULSE PERIOD 06</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>IMPULSE PERIOD 07</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>IMPULSE PERIOD 08</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>IMPULSE PERIOD 09</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>IMPULSE PERIOD 10</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>11</td>
                                                    <td>P1501-WEEK 1</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>P1501-WEEK 2</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>13</td>
                                                    <td>P1501-WEEK 3</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>
                                                <tr>
                                                    <td>14</td>
                                                    <td>P1501-WEEK 4</td>
                                                    <td>2014-01-20</td>
                                                    <td>2014-01-16</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Involments-Detail" role="tabpanel"
                                        aria-labelledby="Involments-tab">
                                        <div>
                                            <table class="table">
                                                <thead class="thead">
                                                    <tr>
                                                        <th>Period</th>
                                                        <th>Outlet</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>IMPULSE PERIOD 01</td>
                                                        <td>2014-01-20</td>
                                                        <td>2014-01-16</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>IMPULSE PERIOD 02</td>
                                                        <td>2014-02-17</td>
                                                        <td>2014-02-16</td>
                                                    </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="probtn-wrap d-flex justify-content-end pt-3">
                            <!-- <div class="custom-control custom-checkbox form-group mb-0 mr-2">
                                <label for="customControlStatus" class="custom-control-label mb-0">
                                    <span class="d-block label-mt-2">Close When done</span>
                                </label>
                            </div> -->
                            <button type="button" class="btn btn-blue mr-2">Save Tie-up</button>
                            <button type="button" class="btn btn-grey" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>