.image_none{
    display:none;
}
.thm-popup .btn-wrap {
    padding-top: 5px;
    border-top: 1px solid #ccc;
    float: right;
    width: 100%;
}

#AddModal .modal-content{
    border:none;
}
#EditModal .modal-content{
    border:none;
}
// .apn-navTab {
//     .tab-content {
//         image-cropper {
//             padding: 0;
//         }
//     } 
// }