.selectFontsize h5{
    font-size: 12px;
}

.form-group .password-input{
    position: relative;
}

.form-group .password-input span.in-icon {
    position: absolute;
    top: 4px;
    right: 13px;
    font-size: 10px;
}