<div class="mainContent-innner pt-2">
    <div class="addmasterList-section">
       <div class="action-topbar d-flex align-items-center">
          <h4 class="title flex-grow-1 mb-0">Masters <span class="bdms"><a href="#">Accounts</a> | <a href="#">Code</a> | <span class="current">Masters</span></span></h4>
          <div class="probtn-wrap text-right">
             <a class="btn btn-blue with-icon mr-2" [routerLink]="['/master/add-master']"><i class="icon fa fa-plus-circle"></i> Add</a>
             <button class="btn with-icon mr-2"><i class="icon fa fa-floppy-o"></i> Save</button>
             <button class="btn with-icon mr-2"><i class="icon fa fa-pencil-square-o"></i> Change</button>
             <button class="btn with-icon mr-2"><i class="icon fa fa-trash"></i> Delete</button>
             <button class="btn with-icon mr-2"><i class="icon fa fa-print"></i> Print</button>
             <button class="btn with-icon mr-2"><i class="icon fa fa-file-excel-o"></i> Export</button>
             <button class="btn with-icon mr-2"><i class="icon fa fa-filter"></i> Filter</button>
             <button class="btn with-icon search-btn"><i class="icon fa fa-search"></i></button>
          </div>
       </div>
       <div class="addmasterList-wrap mt-4">
          <div class="table-responsive">
             <table class="table ctm-table addmasterList-table">
                <thead>
                   <tr>
                      <th class="text-center">Status</th>
                      <th class="text-center">Code</th>
                      <th>Description</th>
                      <th class="text-center">Action</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td class="text-center">
                         <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControl102">
                            <label class="custom-control-label" for="customControl102"></label>
                         </div>
                      </td>
                      <td class="text-center">12</td>
                      <td>WHYKKIE LIVE DATA)</td>
                      <td class="text-center">
                         <div class="moreOption">
                            <img class="icon" src="assets/images/moreOption-btn-icn.svg" alt="More Icon">
                            <div class="tbHover-btnGroup">
                               <button class="tbHover-btn trash-btn"><i class="fa fa-pencil-square-o"></i></button>
                               <button class="tbHover-btn trash-btn"><i class="fa fa-trash"></i></button>
                            </div>
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td class="text-center">
                         <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControl102">
                            <label class="custom-control-label" for="customControl102"></label>
                         </div>
                      </td>
                      <td class="text-center">12</td>
                      <td>WHYKKIE LIVE DATA)</td>
                      <td class="text-center">
                         <div class="moreOption">
                            <img class="icon" src="assets/images/moreOption-btn-icn.svg" alt="More Icon">
                            <div class="tbHover-btnGroup">
                               <button class="tbHover-btn trash-btn"><i class="fa fa-pencil-square-o"></i></button>
                               <button class="tbHover-btn trash-btn"><i class="fa fa-trash"></i></button>
                            </div>
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td class="text-center">
                         <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControl102">
                            <label class="custom-control-label" for="customControl102"></label>
                         </div>
                      </td>
                      <td class="text-center">12</td>
                      <td>WHYKKIE LIVE DATA)</td>
                      <td class="text-center">
                         <div class="moreOption">
                            <img class="icon" src="assets/images/moreOption-btn-icn.svg" alt="More Icon">
                            <div class="tbHover-btnGroup">
                               <button class="tbHover-btn trash-btn"><i class="fa fa-pencil-square-o"></i></button>
                               <button class="tbHover-btn trash-btn"><i class="fa fa-trash"></i></button>
                            </div>
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td class="text-center">
                         <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControl102">
                            <label class="custom-control-label" for="customControl102"></label>
                         </div>
                      </td>
                      <td class="text-center">12</td>
                      <td>WHYKKIE LIVE DATA)</td>
                      <td class="text-center">
                         <div class="moreOption">
                            <img class="icon" src="assets/images/moreOption-btn-icn.svg" alt="More Icon">
                            <div class="tbHover-btnGroup">
                               <button class="tbHover-btn trash-btn"><i class="fa fa-pencil-square-o"></i></button>
                               <button class="tbHover-btn trash-btn"><i class="fa fa-trash"></i></button>
                            </div>
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td class="text-center">
                         <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControl102">
                            <label class="custom-control-label" for="customControl102"></label>
                         </div>
                      </td>
                      <td class="text-center">12</td>
                      <td>WHYKKIE LIVE DATA)</td>
                      <td class="text-center">
                         <div class="moreOption">
                            <img class="icon" src="assets/images/moreOption-btn-icn.svg" alt="More Icon">
                            <div class="tbHover-btnGroup">
                               <button class="tbHover-btn trash-btn"><i class="fa fa-pencil-square-o"></i></button>
                               <button class="tbHover-btn trash-btn"><i class="fa fa-trash"></i></button>
                            </div>
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td class="text-center">
                         <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControl102">
                            <label class="custom-control-label" for="customControl102"></label>
                         </div>
                      </td>
                      <td class="text-center">12</td>
                      <td>WHYKKIE LIVE DATA)</td>
                      <td class="text-center">
                         <div class="moreOption">
                            <img class="icon" src="assets/images/moreOption-btn-icn.svg" alt="More Icon">
                            <div class="tbHover-btnGroup">
                               <button class="tbHover-btn trash-btn"><i class="fa fa-pencil-square-o"></i></button>
                               <button class="tbHover-btn trash-btn"><i class="fa fa-trash"></i></button>
                            </div>
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td class="text-center">
                         <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControl102">
                            <label class="custom-control-label" for="customControl102"></label>
                         </div>
                      </td>
                      <td class="text-center">12</td>
                      <td>WHYKKIE LIVE DATA)</td>
                      <td class="text-center">
                         <div class="moreOption">
                            <img class="icon" src="assets/images/moreOption-btn-icn.svg" alt="More Icon">
                            <div class="tbHover-btnGroup">
                               <button class="tbHover-btn trash-btn"><i class="fa fa-pencil-square-o"></i></button>
                               <button class="tbHover-btn trash-btn"><i class="fa fa-trash"></i></button>
                            </div>
                         </div>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
       <!-- /.UserStoreGroup-wrap -->
    </div>
 </div>