
.dialog-w{
    max-width: 410px;
}
tr.red-all-text td,tr.red-all-text td a, tr.red-all-text td p, tr.red-all-text td span{ color:red;}
.active-no {
    padding: 3px 5px;
    margin: 0px 11px;
    border-radius: 3px;
    width: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    float: right;
}