<div class="mainContent-innner pt-2">
  <div class="xero-accounting-section">
    <div class="d-flex align-items-center">
      <h4 class="title flex-grow-1 mb-0">Xero Accounting</h4>
      <div class="probtn-wrap d-flex text-right">
        <button
          class="btn btn-blue with-icon mr-2"
          (click)="submitXeroAccountingForm()"
        >
          {{ xeroAccountingId ? "Update" : "Save" }}
        </button>
        <button class="btn" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <div class="xero-accounting-wrap bg-box mt-15">
      <form [formGroup]="xeroAccountingForm">
        <div class="row">
          <div class="col-lg-6 col-xl-6">
            <div class="group-from mt-0">
              <div class="form-group form-row align-items-center">
                <label class="label col-md-5 col-xxl-5 mb-0"
                  >Accounting System</label
                >
                <div class="col-md-7 col-xxl-7">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    value="XERO"
                    [readonly]="true"
                  />
                </div>
              </div>
              <div
                class="form-group custom-ng-select form-row align-items-center"
              >
                <label class="label col-md-5 col-xxl-5 mb-0">Outlet</label>
                <div class="col-md-7 col-xxl-7">
                  <!-- <select class="form-control"  formControlName="storeId"
                  [ngClass]="{ 'is-invalid': submitted && f.storeId.errors }"
                  (change)="selectedCode($event.target.value)" >
                    <option [ngValue]="outlet.id" *ngFor="let outlet of ouletData">{{outlet.desc}}</option>
                  </select>
 -->

                  <ng-select
                    [items]="ouletData"
                    bindLabel="nameCode"
                    bindValue="id"
                    formControlName="storeId"
                    [virtualScroll]="false"
                    [clearable]="false"
                    [clearOnBackspace]="false"
                    [searchable]="false"
                    [multiple]="false"
                    placeholder="Select Shelf"
                    [ngClass]="{ 'is-invalid': submitted && f.storeId.errors }"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div class="form-row">
                        <span
                          class="col-9 zone-overflow"
                          title="{{ item.desc }}"
                        >
                          {{ item.desc }}
                        </span>
                        <div class="col-3">
                          {{ item.code }}
                        </div>
                      </div>
                    </ng-template>
                  </ng-select>

                  <div *ngIf="f.storeId.errors" class="invalid-feedback">
                    <div *ngIf="f.storeId.errors.required">
                      Outlet is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-0 form-row align-items-center">
                <label class="label col-md-5 col-xxl-5 mb-0">Description</label>
                <div class="col-md-7 col-xxl-7">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    maxlength="30"
                    formControlName="desc"
                    [ngClass]="{ 'is-invalid': submitted && f.desc.errors }"
                  />
                  <div *ngIf="f.desc.errors" class="invalid-feedback">
                    <div *ngIf="f.desc.errors.required">
                      Description is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-from mb-0">
              <h5 class="title">Financial</h5>
              <div class="form-group form-row align-items-center">
                <label class="label col-md-4 mb-0">Financial Acc Summary</label>
                <div class="col-md-8">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    maxlength="30"
                    formControlName="finAccSummary"
                    [ngClass]="{
                      'is-invalid': submitted && f.finAccSummary.errors
                    }"
                  />
                  <div *ngIf="f.finAccSummary.errors" class="invalid-feedback">
                    <div *ngIf="f.finAccSummary.errors.required">
                      Financial Acc Summary is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">GST Product Sale</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="gstProdSale"
                        [ngClass]="{
                          'is-invalid': submitted && f.gstProdSale.errors
                        }"
                      />
                      <div
                        *ngIf="f.gstProdSale.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.gstProdSale.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 col-xxl-4 mb-0">Desc</label>
                    <div class="col-md-8 col-xxl-8">
                      <input
                        type="text"
                        class="form-control"
                        maxlength="30"
                        formControlName="gstProdSaleDesc"
                        [ngClass]="{
                          'is-invalid': submitted && f.gstProdSaleDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.gstProdSaleDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.gstProdSaleDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0"
                      >Non GST Product Sale</label
                    >
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="nonGSTProdSale"
                      />
                      <div
                        *ngIf="f.nonGSTProdSale.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.nonGSTProdSale.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 col-xxl-4 mb-0">Desc</label>
                    <div class="col-md-8 col-xxl-8">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="nonGSTProdSaleDesc"
                        maxlength="30"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Less Uber Eats</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="lessUberEats"
                        [ngClass]="{
                          'is-invalid': submitted && f.lessUberEats.errors
                        }"
                      />
                      <div
                        *ngIf="f.lessUberEats.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.lessUberEats.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="lessUberEatsDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.lessUberEatsDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.lessUberEatsDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.lessUberEatsDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Amex</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="anex"
                        [ngClass]="{ 'is-invalid': submitted && f.anex.errors }"
                      />
                      <div *ngIf="f.anex.errors" class="invalid-feedback">
                        <div *ngIf="f.anex.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="anexDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.anexDesc.errors
                        }"
                      />
                      <div *ngIf="f.anexDesc.errors" class="invalid-feedback">
                        <div *ngIf="f.anexDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Cash EFTPOS</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="cashEFTPOS"
                        [ngClass]="{
                          'is-invalid': submitted && f.cashEFTPOS.errors
                        }"
                      />
                      <div *ngIf="f.cashEFTPOS.errors" class="invalid-feedback">
                        <div *ngIf="f.cashEFTPOS.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="cashEFTPOSDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.cashEFTPOSDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.cashEFTPOSDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.cashEFTPOSDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Under/Over</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="underOver"
                        [ngClass]="{
                          'is-invalid': submitted && f.underOver.errors
                        }"
                      />
                      <div *ngIf="f.underOver.errors" class="invalid-feedback">
                        <div *ngIf="f.underOver.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="underOverDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.underOverDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.underOverDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.underOverDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Fuel Card</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="fuelCard"
                        [ngClass]="{
                          'is-invalid': submitted && f.fuelCard.errors
                        }"
                      />
                      <div *ngIf="f.fuelCard.errors" class="invalid-feedback">
                        <div *ngIf="f.fuelCard.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="fuelCardDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.fuelCardDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.fuelCardDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.fuelCardDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Fleet Card</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="fleetCard"
                        [ngClass]="{
                          'is-invalid': submitted && f.fleetCard.errors
                        }"
                      />
                      <div *ngIf="f.fleetCard.errors" class="invalid-feedback">
                        <div *ngIf="f.fleetCard.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="fleetCardDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.fleetCardDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.fleetCardDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.fleetCardDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Motor Pass</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="motorPass"
                      />
                      <div *ngIf="f.motorPass.errors" class="invalid-feedback">
                        <div *ngIf="f.motorPass.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="motorPassDesc"
                        maxlength="30"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Motor Charge</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="motorCharge"
                        [ngClass]="{
                          'is-invalid': submitted && f.motorCharge.errors
                        }"
                      />
                      <div
                        *ngIf="f.motorCharge.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.motorCharge.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="motorChargeDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.motorChargeDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.motorChargeDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.motorChargeDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group mb-0 form-row align-items-center">
                    <label class="label col-md-6 mb-0">Other</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="other"
                        [ngClass]="{
                          'is-invalid': submitted && f.other.errors
                        }"
                      />
                      <div *ngIf="f.other.errors" class="invalid-feedback">
                        <div *ngIf="f.other.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-0 form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="otherDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.otherDesc.errors
                        }"
                      />
                      <div *ngIf="f.otherDesc.errors" class="invalid-feedback">
                        <div *ngIf="f.otherDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-6">
            <div class="group-from mb-0">
              <h5 class="title">Stock</h5>
              <div class="form-group form-row align-items-center">
                <label class="label col-md-4 mb-0">Stock Acc Summary</label>
                <div class="col-md-8">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    formControlName="stockAccSummary"
                    [ngClass]="{
                      'is-invalid': submitted && f.stockAccSummary.errors
                    }"
                  />
                  <div
                    *ngIf="f.stockAccSummary.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.stockAccSummary.errors.required">
                      Stock Acc Summary is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-6 mb-0">Balance Sheet</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="balanceSheet"
                        [ngClass]="{
                          'is-invalid': submitted && f.balanceSheet.errors
                        }"
                      />
                      <div
                        *ngIf="f.balanceSheet.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.balanceSheet.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="balanceSheetDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.balanceSheetDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.balanceSheetDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.balanceSheetDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8">
                  <div class="form-group form-row align-items-center mb-0">
                    <label class="label col-md-6 mb-0">Profit and Loss</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="profitLoss"
                        [ngClass]="{
                          'is-invalid': submitted && f.profitLoss.errors
                        }"
                      />
                      <div *ngIf="f.profitLoss.errors" class="invalid-feedback">
                        <div *ngIf="f.profitLoss.errors.pattern">
                          Accept only Number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row align-items-center mb-0">
                    <label class="label col-md-4 mb-0">Desc</label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        formControlName="profitLossDesc"
                        maxlength="30"
                        [ngClass]="{
                          'is-invalid': submitted && f.profitLossDesc.errors
                        }"
                      />
                      <div
                        *ngIf="f.profitLossDesc.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.profitLossDesc.errors.required">
                          Desc is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-from mb-0">
              <div class="form-group form-row align-items-center">
                <label class="label col-md-4 mb-0">Xero Secret Key</label>
                <div class="col-md-8">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    formControlName="xeroSecretKey"
                    maxlength="50"
                    [ngClass]="{
                      'is-invalid': submitted && f.xeroSecretKey.errors
                    }"
                  />
                  <div *ngIf="f.xeroSecretKey.errors" class="invalid-feedback">
                    <div *ngIf="f.xeroSecretKey.errors.required">
                      Xero Secret Key is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-0 form-row align-items-center">
                <label class="label col-md-4 mb-0">Xero Cunsumer Key</label>
                <div class="col-md-8">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    formControlName="xeroConsumerKey"
                    maxlength="50"
                    [ngClass]="{
                      'is-invalid': submitted && f.xeroConsumerKey.errors
                    }"
                  />
                  <div
                    *ngIf="f.xeroConsumerKey.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.xeroConsumerKey.errors.required">
                      Xero Cunsumer Key is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- /.productForm -->
  </div>
</div>
